<p id="notice"><%= notice %></p>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>专业</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %> </td><td><%= link_to '查看', department %> <%= link_to '编辑', edit_department_path(department) %> <%= link_to '删除', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @departments %>
<br>

<%= link_to '新建专业', new_department_path %>
