<%= form_for(@userinfo) do |f| %>
  <% if @userinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userinfo.errors.count, "error") %> prohibited this userinfo from being saved:</h2>

      <ul>
      <% @userinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  <div class="actions">
    <%= f.submit "保存"%>
  </div>
<% end %>
